.input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid $color-gray-light;
    margin-bottom: 1rem;
    color: $color-text;
    font-weight: 100;
    outline: none;
    font-size: 13px;
}