// Font
$font-primary: "Roboto";
$font-secondary: "Oswald";
$font-heading: "Oswald-heading";
$font-bold: "Oswald-bold";
// Color
$color-default: #f9f9ff;
$color-primary: #04091e;
$color-success: #4cd3e3;
$color-info: #38a4ff;
$color-warning: #f4e700;
$color-danger: #f42f2c;
$color-text: #777777;
$color-gray-light: #eeeeee;
$color-white: white;
$color-black: black;
// Breakpoint
$XS: 576px;
$SM: 768px;
$MD: 992px;
$LG: 1200px;
$XL: 1200px;
// Transition
$transition: all 0.5s;
