// --- All --------------------------------
*,
::after,
::before {
  box-sizing: border-box;
}

// --- body --------------------------------
body {
  margin: 0;
  line-height: 27px;
  font-size: 16px;
  font-family: $font-primary;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// --- container --------------------------------
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@include Responsive(xs) {
  .container {
    max-width: 540px;
  }
}

@include Responsive(sm) {
  .container {
    max-width: 720px;
  }
}

@include Responsive(md) {
  .container {
    max-width: 960px;
  }
}

@include Responsive(xl) {
  .container {
    max-width: 1140px;
  }
}

// --- Content --------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: 700;
}

h1 {
  font-size: 36px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-size: 13px;
}

// --- Flexbox --------------------------------
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@include splitCol();