@font-face {
    font-family: "Oswald";
    src: url(../../Assets/Font/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Oswald-heading";
    src: url(../../Assets/Font/Oswald/static/Oswald-Light.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Oswald-bold";
    src: url(../../Assets/Font/Oswald/static/Oswald-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../../Assets/Font/Roboto/Roboto-Regular.ttf);
}